.container
{
    width: 100%;
    height: 75px;
    z-index: 15;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    column-gap: 15px;
    background-color: #0B192C;
    font-weight: 500;
    color: white;
    border-bottom: 1px solid var(--primary-color);
}

.user
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px;
    position: absolute;
    right: 20px;
    top: 90px;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

.logo
{
    height: 20px;
    width: fit-content;
    cursor: pointer;
}

.profile
{
    height: 30px;
    width: fit-content;
    cursor: pointer;
}

.name
{
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}

.close
{
    margin-left: 5px;
    height: 30px;
    width: fit-content;
    cursor: pointer;
}

.links
{
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-size: 16px;
}

.link:hover
{
    transform: scale(1.1);
}

@media screen and (max-width: 480px) 
{
    .link
    {
        display: none;
    }    

    .user
    {
        width: calc(100% - 40px);
    }
}