.wrapper
{
    height: 100vh;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    border-right: 1px solid var(--primary-color);
    margin: 0;
    position: fixed;
    left: 0;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    padding: 5px;
    cursor: pointer;
    color: white;
}

.list
{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.icon
{
    height: 25px;
    width: fit-content;
}

.active
{
    background-color: var(--action-color);
    border-radius: 5px;
}