.container
{
    width: calc(33.3% - 10px);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-between;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.title
{
    margin: 0;
}

.name
{
    color: var(--action-color);
    font-size: 16px;
    font-weight: 600;
}

.icon
{
    height: 25px;
    width: fit-content;
}