.wrapper
{
    border-radius: 8px;
}

.container
{   
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.discussions
{
    display: flex;
    column-gap: 20px;
}

.query
{
    width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.discussionsReply
{
    width: 70%;
}

.spinner
{
    min-height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noDiscussions
{
    color: var(--action-color);
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 980px) 
{
    .discussions
    {
        flex-direction: column;
        row-gap: 20px;
    }   
    
    .query, .discussionsReply
    {
        width: 100%;
    }
}

@media screen and (max-width: 480px) 
{
    .noDiscussions
    {
        font-size: 16px;
    }
}




