.container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.card
{
    background-color: var(--primary-color);
    width: calc(33.4% - 20px);
    height: 150px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--action-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}