.container
{
    padding: 30px 10vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media screen and (max-width: 450px) 
{
    .container
    {
        padding: 100px 20px  20px;
    }    
}