.container
{
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.header
{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
}

.topic
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--primary-bg);
    border-radius: 5px;
    position: relative;
}

.active
{
    background-color: var(--secondary-color);
}

.topic:hover
{
    cursor: pointer;
}

.active .title
{
    margin: 0;
    color: black;
}

.active .count
{
    color: black;
}

.count
{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.clear
{
    color: black;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}