.container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 25px;
}

.inputs
{
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.create
{
    background-color: var(--action-color);
    color: white;
    width: fit-content;
    border-radius: 5px;
    padding: 15px;
    font-weight: 500;
    font-size: 14px;
}
