.container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
}

.header
{
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: 100%;
}

.keys
{
    width: 100%;
    border-radius: 5px;
    background-color: var(--primary-bg);
}

.add
{
    padding: 7px;
    width: 75px;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: black;
    border-radius: 5px;
}

.add:hover
{
    border: 1px solid var(--action-color);
    background-color: var(--action-color);
    color: white;
    cursor: pointer;
}

.keywords
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}
