.container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    border-radius: 5px;
    padding: 20px;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--secondary-color);
    font-size: 16px;
    position: relative;
}

.header, .footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.certificationDetails
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.courseTitle
{
    font-size: 28px;
    width: 100%;
    font-weight: 600;
    margin: 0;
    text-align: center;
    border-radius: 5px;
    color: var(--action-color);
}

.dates, .pendingSessions
{
    margin: 0;
    color: white;
    font-weight: 500;
}

.progress
{
    position: relative;
}

.progressTitle
{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    color: var(--primary-bg);
    font-weight: 600;
    display: flex;
}

.batch
{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 5px;
    background: var(--primary-bg);
    color: white;
    box-shadow: var(--box-shadow);
    font-size: 15px;
}

.group
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.connect
{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background: none;
    font-size: 12px;
    padding: 0 5px;
}

.access
{
    background-color: var(--action-color);
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    font-weight: 500;
    padding: 5px;
}

.accessControl
{
    position: absolute;
    right: 35px;
    top: 20px;
    padding: 10px;
    background-color: var(--secondary-color);
    font-size: 14px;
    width: fit-content;
    border-radius: 5px;
    font-size: 15px;
    color: black;
}

.accessControl:hover
{
    background-color: var(--action-color);
    color: white;
}

.more
{
    height: 20px;
    width: fit-content;
    position: absolute;
    right: 15px;
    top: 30px;
    cursor: pointer;
}

.connect:hover
{
    background-color: var(--action-color);
    border: 1px solid var(--action-color);
    color:white;
    cursor: pointer;
}

.mentor, .batchCode, .groupTitle
{
    font-weight: 500;
    margin: 0;
}

.addlink
{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.button, .link
{
    border-radius: 5px;
    border: 0;
    font-size: 12px;
    color: black;
}

.link
{
    width: 100%;
    padding: 0 5px;
}

.button
{
    border: 1px solid white;
    color: white;
    margin: 0;
    padding: 0 7.5px;
}

.button:hover
{
    background-color: var(--action-color);
    border: 1px solid var(--action-color);;
    cursor: pointer;
}

.certificateWrapper
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: rgba(0,0,0,0.7);
}

.close
{
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}

.download
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 420px;
    background-color: var(--primary-bg);
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
    column-gap: 10px;
}

.downloadIcon
{
    height: 24px;
    width: fit-content;
}

.download:hover
{
    background-color: var(--primary-color);
}

.userdate
{
    font-size: 12px;
    left: 100px;
    top: 460px;
}

@media screen and (max-width: 450px)
{
    .container
    {
        font-size: 14px;
        padding: 10px;
    }

    .courseTitle
    {
        font-size: 22px;
    }

    .batch
    {
        font-size: 14px;
    }
}
