.container
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
}

.navigation
{
    display: flex;
    align-items: center;
    column-gap: 40px;
    background-color: var(--secondary-color);
    padding: 20px 40px;
    border-radius: 50px;
}

.logo
{
    height: 25px;
    width: fit-content;
    cursor: pointer;
}

.authWrapper
{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.controls
{
    position: absolute;
    right: 20px;
    top: 30px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 14px;
}

.route
{
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    color: white;
}

.links
{
    display: flex;
    column-gap: 20px;
}

.link:hover
{
    transform: scale(1.05);
}

.menu
{
    display: none;
} 

.slider
{
    width: 320px;
    position: fixed;
    top: 40px;  
    right: 10px;
    display: none;
}

.name
{
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}

.title
{
    height: 35px;
    width: fit-content;
    cursor: pointer;
}

.close
{
    height: 30px;
    width: fit-content;
    cursor: pointer;
}

@media screen and (max-width:720px)
{
    .slider
    {
        display: block;
    }   

    .links, .auth
    {
        display: none;
    }
}

@media screen and (max-width:480px)
{
    .slider
    {
        width: calc(100% - 20px);
    }
}