.container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.email
{
    width: 100%;
    background-color: var(--primary-bg);
    padding: 10px;
    border-radius: 5px;
}

.submit
{
    background-color: var(--action-color);
    width: 100%;
    padding: 7px;
    border-radius: 5px;
}

.passwordCheck
{
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}

.icon
{
    height: 20px;
    width: fit-content;
}