.logout
{
    margin: 10px;
    width: fit-content;
    font-size: 14px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}
