.logout
{
    margin-left: 10px;
    width: fit-content;
    font-size: 14px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.logout:hover
{
    background-color: var(--action-color);
    color: white;
}