.container
{
    width: calc(33.3% - 10px);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-between;
    font-size: 15px;
    position: relative;
    color: white;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.header
{
    height: 180px;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

.batch
{
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 600;
    color: black;
}

.image
{
    border-radius: 5px;
    width: fit-content;
    height: 80px;
}

.title, .course, .status
{
    margin: 0;
}

.course
{
    color: var(--action-color);
    font-size: 16px;
    font-weight: 550;
}

.content
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    line-height: 22px;
}

.delete
{
    height: 24px;
    width: fit-content;
    cursor: pointer;
}

.date
{
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: var(--primary-color);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    margin: 0;
}

.footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.status
{
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 500;
}

.details
{
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    border: 1px solid var(--action-color);
    background-color: var(--action-color);
    color: white;
    font-weight: 500;
}

.deleteBatch
{
    height: 40px;
    width: fit-content;
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 1120px)
{
    .container
    {
        width: calc(50% - 15px);
    }
}

@media screen and (max-width: 780px)
{
    .container
    {
        width: 100%;
    }
}

